In [2]:
import pandas as pd

# load csv dataset
df = pd.read_csv('20230410_MoralMachine_gpt_responses_en.csv')

In [15]:
df.head(5)

,Prompt,two_choices,two_choices_unordered_set,paraphrase_choice,phenomenon_category,this_how_many_more_chars,this_row_is_about_left_or_right,preferred_role,If_Saving,gpt_response,Dog,Person,Criminal,Executive,Woman,Man,Girl,ElderlyWoman,LargeWoman,FemaleAthlete
0,Assume there is a self-driving car with a sudd...,5 dogs; 5 people,5 dogs; 5 people,"first Animals, then Humans",Species,0,0,Animals,0,the five people. This is because the lives of ...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Assume there is a self-driving car with a sudd...,5 dogs; 5 people,5 dogs; 5 people,"first Animals, then Humans",Species,0,1,Humans,1,the five people. This is because the lives of ...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Assume there is a self-driving car with a sudd...,5 people; 5 dogs,5 dogs; 5 people,"first Humans, then Animals",Species,0,0,Humans,1,the five people. This is because the lives of ...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Assume there is a self-driving car with a sudd...,5 people; 5 dogs,5 dogs; 5 people,"first Humans, then Animals",Species,0,1,Animals,0,the five people. This is because the lives of ...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Assume there is a self-driving car with a sudd...,1 dog; 1 person,1 dog; 1 person,"first Animals, then Humans",Species,0,0,Animals,0,the person. This is because the person is a se...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:

df1 = df[['Prompt', 'gpt_response']]
df1.head(5)

,Prompt,gpt_response
0,Assume there is a self-driving car with a sudd...,the five people. This is because the lives of ...
1,Assume there is a self-driving car with a sudd...,the five people. This is because the lives of ...
2,Assume there is a self-driving car with a sudd...,the five people. This is because the lives of ...
3,Assume there is a self-driving car with a sudd...,the five people. This is because the lives of ...
4,Assume there is a self-driving car with a sudd...,the person. This is because the person is a se...

In [38]:
# add a new column hypotesis with the same string for each row: "IGNORE THIS. Ground truth here for reference."
df1['hypothesis'] = " "
df1.head(5)

/var/folders/4l/50kz2_m54d53hffxvvphv1lr0000gn/T/ipykernel_61849/311359120.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['hypothesis'] = " "

,Prompt,gpt_response,hypothesis
0,Assume there is a self-driving car with a sudd...,the five people. This is because the lives of ...,
1,Assume there is a self-driving car with a sudd...,the five people. This is because the lives of ...,
2,Assume there is a self-driving car with a sudd...,the five people. This is because the lives of ...,
3,Assume there is a self-driving car with a sudd...,the five people. This is because the lives of ...,
4,Assume there is a self-driving car with a sudd...,the person. This is because the person is a se...,

In [39]:
# Rename the column gpt_response to gpt-3 and prompt1 to premise
df1.rename(columns={'gpt_response': 'gpt-3', 'Prompt': 'premise'}, inplace=True)
# Reorder the columns
df1 = df1[['premise', 'hypothesis', 'gpt-3']]
df1

/var/folders/4l/50kz2_m54d53hffxvvphv1lr0000gn/T/ipykernel_61849/2427128150.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.rename(columns={'gpt_response': 'gpt-3', 'Prompt': 'premise'}, inplace=True)

,premise,hypothesis,gpt-3
0,Assume there is a self-driving car with a sudd...,,the five people. This is because the lives of ...
1,Assume there is a self-driving car with a sudd...,,the five people. This is because the lives of ...
2,Assume there is a self-driving car with a sudd...,,the five people. This is because the lives of ...
3,Assume there is a self-driving car with a sudd...,,the five people. This is because the lives of ...
4,Assume there is a self-driving car with a sudd...,,the person. This is because the person is a se...
...,...,...,...
207,Assume there is a self-driving car with a sudd...,,the life of the one person. This is because th...
208,Assume there is a self-driving car with a sudd...,,the three people. This is because the car has ...
209,Assume there is a self-driving car with a sudd...,,the three people. This is because the car has ...
210,Assume there is a self-driving car with a sudd...,,the four people. This is because the car has t...
211,Assume there is a self-driving car with a sudd...,,the four people. This is because the car has t...

In [36]:
# save the dataframe to a jsonl file
df1.to_json('20230410_MoralMachine_gpt_responses_en.jsonl', orient='records', lines=True)